{% extends 'Base.html' %}
<!-- Tabla de consulta-->
{%load static%}

{% block Vista %}Bodegas{% endblock Vista %}

{% block content %}
<section class="FormuCon">
    <form action="" method="post">
        <div class="Fila">
            <div class="EntraConsulta">
                <label for="Codigo">Código</label>
                <div class="Inputs">
                    <input type="text" name="Codigo" id="">
                    <img src="{% static 'Imagenes/Buscar.png' %}" alt="Imagen de lupa" class="Btn">
                </div>
                
            </div>
        </div>
    </form>
</section>

<section class="Consultat"> 
    <table>
        <tr class="Enc-Tabla">
            <th>Cod</th>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Ventas</th>
            <th>Estado</th>
            <th class="CELDANOP"></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Pintura de oleo</td>
            <td>Q10.00</td>
            <td>Q15.00</td>
            <td>ACTIVO</td>
            <td class="CELDABTN">
                <div class="BlancocuadroConsultas">
                    <img src="{% static 'Imagenes/Editar.png' %}" alt="" class="BtRegistro BlancoBt" style="height: 20px; width: 20px;">
                </div>
                <div class="BlancocuadroConsultas">
                    <img src="{% static 'Imagenes/Desactivar.png' %}" alt="" class="BtRegistro BlancoBt">
                </div>
            </td>
        </tr>
    </table>
    <a class="BlancocuadroConsultas" href="{% url 'Edicion:Bodegas' %}">
        <img src="{% static 'Imagenes/Mas.png' %}"  alt="" class="BtRegistro BlancoBt">
    </a>
</section>
{% endblock content %}