{% extends 'Base.html' %}
{%load static%}
{% block Vista %}{{Tipo}}{% endblock Vista %}

<!-- Tabla de consulta-->
{% block content %}
<section class="FormuCon">
    <form action="" method="post">
        <div class="Fila">
            <div class="EntraConsulta">
                <label for="Codigo">Código</label>
                <div class="Inputs">
                    <input type="text" name="Codigo" id="">
                    <img src="{% static 'Imagenes/Buscar.png' %}" alt="Imagen de lupa" class="Btn">
                </div>
                
            </div>
        </div>
    </form>
</section>

<section class="Consultat"> 
    {% include 'Consulta/Tabla_Consulta.html'%}
    <a class="BlancocuadroConsultas" href="/Edicion/Movimiento/{{Tipo}}/{{Clase}}">
        <img src="{% static 'Imagenes/Mas.png' %}"  alt="" class="BtRegistro BlancoBt">
    </a>
</section>
{% endblock content %}