{%load static%}
    
    <table>
        <tr class="Enc-Tabla">
            
            {% for i in Encabezado %}
                <th>{{i}}</th>
            {% endfor %}
            <th class="CELDANOP"></th>
        </tr>
        {% for Dic in Valores %}
        <tr>
            {% for Valor in Dic %}
            <td>{{Valor}}</td>
            {% endfor %}
            <td class="CELDABTN">
                <a class="BlancocuadroConsultas" href="{{URL}}/{{Dic[0]}}">
                    <img src="{% static 'Imagenes/Editar.png' %}"  alt="" class="BtRegistro BlancoBt" style="height: 20px; width: 20px;">
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a class="BlancocuadroConsultas" href="{{URLULTIMO}}">
        <img src="{% static 'Imagenes/Mas.png' %}"  alt="" class="BtRegistro BlancoBt">
    </a>