{% load static %}
<div style="display: none;">
    <div class="Fondo_Emergente" id="Emergente">
        <div class="Emergente">
                <p>No se encontró "<span id="Emergente_Elemento"></span>" <br><br> ¿Desea agregarlo  a los registros? </p>
                <div class="Emergenteopciones">
                    <a href="" class="Blancooo" title="Guardar registro" id="Emergente_enlace">
                        <img src="{% static 'Imagenes/Guardar.png' %}" alt="" class="BlancoBt" >
                    </a>
                    <div class="Blancooo" title="No guardar registro" id="Emergente_exit">
                        <img src="{% static 'Imagenes/Desactivar.png' %}" alt="" class="BlancoBt" >
                    </div>
                </div>
        </div>
    </div>
</div>