{% extends 'Base.html' %}
{%load static%}

<!-- Aqui empieza la seccion de formulario-->
{% block Vista %}{{Tipo}}{% endblock Vista %}

{% block content %}
    <section class="Formulario">
        {% include 'Individual.html'%}
        <form action="{{URLPASAR}}" method="post">
            {% csrf_token %}
            
            <div class="Filas">
            <div class="Entradas">
                <label for="ID">ID</label>
                <br>
                <input id = "ID" type="number"name="ID" readonly required value="{{IDNO}}"> 
            </div>
            <div class="Entradas">
                <label for="Estapa">Etapa</label>
                <br>
                <select name="Etapa" id="Etapa" required>
                <option value="Presupuesto">Presupuesto</option>
                <option value="Orden de Compra">Orden de Compra</option>
                <option value="Comprado">Comprado</option>
            </select>     
            </div>
        </div>
        <div class="Filas">
            {% if BOD_SALIDA %}
            <div class="Entradas">
                <label for="Bodega_Salida">Bodega Salida</label>
                <br>
                {% if Tipo != "Ventas" %}
                {% if Tipo != "Interno" %}
                <input id="Bodega_Salida" type="text" list="List_Bodega" class="Listas" name="BOD_SALIDA" data-direccion="Bodegas" data-archivo="Dir" required>
                {% else %}
                <input id="Bodega_Salida" type="text" list="List_Bodega" class="Listas" name="BOD_SALIDA" data-direccion="Bodegas" data-archivo="Dir" required value="{{Bod.Nombre}}, {{Bod.ID}}">
                {% endif %}
                {% else %}
                <input id="Bodega_Salida" type="text" list="List_Bodega" class="Listas" name="BOD_SALIDA" data-direccion="Bodegas" data-archivo="Dir" required readonly value="{{Bodegas.NOMBRE}}, {{Bodegas.ID}}">
                {% endif %}
            </div>
            {% endif %}
            {% if BOD_ENTRADA %}
            <div class="Entradas">
                <label for="Bodega_Entrada">Bodega Entrada</label>
                <br>
                <input id="Bodega_Entrada" type="text" list="List_Bodega" class="Listas" name="BOD_ENTRADA" data-direccion="Bodegas" data-archivo="Dir" required>
            </div>
            {% endif %} 
        
        </div>
            <!-- El div "Filas" contendra 2 entradas (inputs)-->
            <div class="Filas">
                <!--El div "Entradas" contiene un label y un input-->
                <div class="Entradas">
                    <label for="Contacto">{{Clase}}</label>
                    <br>
                    <input id="Contacto" type="text" list="List_Contacto" class="Listas" name="CONTACTO" data-direccion="Contactos_{{Clase}}s" data-archivo="Dir">
                    <datalist id="List_Contacto">
                        {% for  i in Contactos %}
                        <option value="{{i.NOMBRE}}, {{i.ID}}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="Entradas">
                    <label for="Direccion">Direccion</label>
                    <br>
                    <input id = "Direccion" type="text"name="DIRECCION" required> 
                </div>
                <div class="Entradas">
                    <div class="Blancocuadro Envio">
                        <img src="{% static 'Imagenes/Guardar.png' %}" alt="" class="Btn BlancoBt" >
                        <input type="submit" class="Enviar" value="Enviar">
                    </div> 
                </div>
            </div>

            
            <div class="Filas Invisible">
                {% include 'INPUT_BASE.html'%}
                <div class="Entradas">
                    <label for="Tipo">Tipo</label>
                    <br>
                    <input id = "Tipo" type="text"name="TIPO" value="{{Tipo}}"> 
                </div>
            </div>
            <br>  
            <section class="Consultat"> 
                <table class="Tabla_input" id="Tabla">
                    <tr class="Enc-Tabla">
                        <th>Producto</th>
                        <th>Precio</th>
                        {% if Tipo != "Compras" %}
                        <th>Cantidad</th>
                        {% endif %}
                        <th>{{TRANSACCION}}</th>
                        <th>SubTotal</th>
                        <th class="CELDANOP"></th>
                    </tr>
                    <tr id="RegistroTabla">
                        <td>
                                <input required id="Producto" type="text" list="List_Productos" class="Listas CONINP" name="_PRODUCTO" data-direccion="Productos" data-archivo="Dir">
                        </td>
                        <td>
                            <input type="number" id="Cantidad" required min="1" class="PRECIO" readonly>
                        </td>
                        {% if Tipo != "Compras" %}
                            <td>
                                <input type="number" id="Cantidad" required min="1" class="STOCK" readonly>
                            </td>
                        {% endif %}
                        <td>
                            <input type="number" id="Cantidad" required min="1" name="_CANTIDAD" class="CANTIDAD" data-tipo="{{Tipo}}" readonly>
                        </td>
                        <td>
                            <input type="number" name="DIRECCION" id="_SUBTOTAL" class="SUBTOTAL" readonly required>
                        </td>
                        
                        <td class="CELDABTN">
                            <div class="BlancocuadroConsultas">
                                <img src="{% static 'Imagenes/Desactivar.png'%}" alt="" class="BtRegistro BlancoBt BOTON_BORRAR">
                            </div>
                        </td>
                    </tr>
                    
                </table>
                <br>
                <div class="BlancocuadroConsultas" style="margin-top: 5px;" id="BOTON_A_REGISTRO">
                    <img src="{% static 'Imagenes/Mas.png'%}" alt="" class="BtRegistro BlancoBt">
                </div>
            </section>
        </form>
        <datalist id="List_Productos">
            {% for  i in Productos %}
            <option value="{{i.NOMBRE}}, {{i.ID}}" data-precio="{{i.PRECIO}}" data-stock="{{i.STOCK}}"></option>
            {% endfor %}
        </datalist>
        <datalist id="List_Bodega">
            {% if Tipo != "Ventas" %}
            {% for  i in Bodegas %}
            <option value="{{i.Nombre}}, {{i.ID}}"></option>
            {% endfor %}
            {% else %}
            <option value="{{Bodegas.NOMBRE}}, {{Bodegas.ID}}"></option>
            {% endif %}
        </datalist>
        <script src="{% static '/Scripts/Listas.js' %}"></script>
        <script src="{% static '/Scripts/TablasIngreso.js' %}"></script>
        <script src="{% static '/Scripts/OperacionesTabla.js' %}"></script>
    </section>
{% endblock content %}    